.account-img {
    width: 100px;
    height: auto;
}

.product-card {
    height: 25rem;
    max-width: 20rem;
}
.product-card .card-img {
    height: 55%;
    object-fit: cover;
}
.product-card .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 5px;
}
.product-card .card-subtitle {
    color: #30bf48 !important;
}
.product-card .card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
