{% extends "main/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">


        <div class="media-body">
             <h1>ORDER HISTORY</h1>

             {% if orderhistory%}
              {% for order in orderhistory %}
                <p>{{order.title}}</p>

              {% endfor %}
          {%endif%}
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>


          {% csrf_token %}
    <form method="get" action="/create/">
         <button class="btn btn-outline-info" type="submit">Create New Product</button>
    </form>



      </form>
    </div>
{% endblock content %}
