{% extends "main/base.html" %}

{% block content %}
    <b-row align-v="center" class="mb-5">
        <b-col cols="auto">
            {% if user.profile.image.url %}
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            {% else %}
                <img class="rounded-circle account-img" src="/media/default.png">
            {% endif %}
        </b-col>
        <b-col>
            <b-row>
                <b-col>
                    <h3>{{ user.username }}</h3>
                </b-col>
            </b-row>
            {% if user.email %}
                <b-row>
                    <b-col>
                        <h6 class="text-muted">({{ user.email }})</h6>
                    </b-col>
                </b-row>
            {% endif %}
            <b-row>
                <b-col>
                    <small class="text-muted">Joined on: {{ user.date_joined }}</small>
                </b-col>
            </b-row>
        </b-col>
    </b-row>
    <b-tabs v-model="tabIndex" content-class="mt-5">
        <b-tab>
            <template v-slot:title>
                <h5><span class="mdi mdi-clipboard-list mr-2"></span>Order History</h5>
            </template>
            <template v-if="orderHistory.length > 0">
                <b-table-simple hover>
                    <b-thead>
                        <b-tr>
                            <b-th>Order Id.</b-th>
                            <b-th>Name</b-th>
                            <b-th></b-th>
                        </b-tr>
                    </b-thead>
                    <b-tbody>
                        <b-tr v-for="(order, i) in orderHistory" :key="i">
                            <b-td>#[[ order.id ]]</b-td>
                            <b-td>Order placed at [[ order.timePlaced ]]</b-td>
                            <b-td>
                                <b-button size="sm" @click="viewOrderDetail(i)">
                                    View Details
                                </b-button>
                            </b-td>
                        </b-tr>
                    </b-tbody>
                </b-table-simple>

                <b-modal id="order-detail-modal" v-model="orderDetail.show" title="Order Detail" size="xl">
                    <b-table-simple responsive v-if="orderDetail.show">
                        <b-thead>
                            <b-tr>
                                <b-th>Product Id.</b-th>
                                <b-th>Name</b-th>
                                <b-th>Quantity</b-th>
                                <b-th>Subtotal</b-th>
                            </b-tr>
                        </b-thead>
                        <b-tbody>
                            <b-tr v-for="(item, i) in orderDetailItems" :key="i">
                                <b-td>#[[ item.id ]]</b-td>
                                <b-td class="text-truncate font-weight-bold" style="max-width:400px">
                                    [[ item.title ]]
                                </b-td>
                                <b-td>[[ item.amount ]]</b-td>
                                <b-td>$ [[ item.subtotal ]]</b-td>
                            </b-tr>
                        </b-tbody>
                        <b-tfoot>
                            <b-tr variant="secondary">
                                <b-th class="text-muted">Total</b-th>
                                <b-td></b-td>
                                <b-td class="font-weight-bold">[[ orderDetailTotal.totalAmt ]]</b-td>
                                <b-td class="font-weight-bold" style="color:#30bf48">
                                    $ [[ orderDetailTotal.totalPrice ]]
                                </b-td>
                            </b-tr>
                            <b-tr>
                                <b-td colspan="4">
                                    Shipped to: [[ orderDetailShippingAddr ]]
                                </b-td>
                            </b-tr>
                        </b-tfoot>
                    </b-table-simple>
                    <template v-slot:modal-footer="{ cancel }">
                        <b-button @click="cancel">
                            Close
                        </b-button>
                    </template>
                </b-modal>
            </template>
            <p v-else class="text-muted">You don't have any order history yet.</p>
        </b-tab>
        <b-tab>
            <template v-slot:title>
                <h5><span class="mdi mdi-warehouse mr-2"></span>My Warehouse</h5>
            </template>
            <b-col>
                <b-row class="mb-3">
                    <b-col>
                        <b-row>
                            <b-button @click="createModal = true">Add new listing</b-button>
                            <add-product-form v-model="createModal"></add-product-form>
                        </b-row>
                    </b-col>
                </b-row>
                <b-row>
                    {% if inventory %}
                        <b-table hover :fields="fields" :items="inventory">
                            <template v-slot:cell(actions)="row">
                                <b-button variant="primary" size="sm" class="mr-1" @click="openRestockForm(row.index)">
                                  Restock
                                </b-button>
                                <b-button size="sm" class="mr-1" @click="editProduct(row.item.id)">
                                  Edit
                                </b-button>
                                <b-button variant="danger" size="sm" @click="deleteProduct(row.item.id)">
                                  Delete
                                </b-button>
                            </template>
                        </b-table>
                    {% else %}
                        <p class="text-muted">You don't have anything to sell yet... Add some by clicking the button below!</p>
                    {% endif %}
                </b-row>
            </b-col>

            <!-- Restock dialog -->
            <restock-form ref="restockForm" :item-name="restockItemName" @close="restockItemName = ''"></restock-form>
            <!-- Edit dialog -->
            <edit-product-form ref="editForm"></edit-product-form>
            <!-- Delete confirmation dialog -->
            <delete-product-form ref="deleteForm"></delete-product-form>
        </b-tab>
    </b-tabs>
{% endblock content %}

{% block js %}
    {% include "auction/product_info_form.js" %}
    {% include "auction/add_product.js" %}
    {% include "auction/edit_product.js" %}
    {% include "auction/delete_product.js" %}
    {% include "auction/restock_form.js" %}
{% endblock %}

{% block vue %}
data: {
    createModal: false,
    tabIndex: {{ tabIndex }},
    inventory: {{inventory|safe}},
    orderHistory: {{order_history|safe}},
    fields: [
        { key: 'title', label: 'Item', sortable: true },
        { key: 'stock_count', label: 'Stock Count', sortable: true },
        { key: 'rating', label: 'Rating', sortable: true },
        { key: 'actions', label: '' }
    ],
    restockItemName: '',
    orderDetail: {
        show: false,
        viewingIndex: -1,
    },
},
watch: {
    tabIndex(newVal) {
        const action = newVal === 1 ? 'listings' : 'orders';
        window.history.pushState(null, null, `${window.location.origin}/user/profile/${action}`);
    },
    'orderDetail.show': {
        handler(toShow) {
            if (!toShow) {
                this.orderDetail.viewingIndex = -1;
            }
        },
    },
},
computed: {
    isViewingOrderDetail() {
        return this.orderDetail.viewingIndex >= 0;
    },
    orderDetailItems() {
        if (this.isViewingOrderDetail) {
            return this.orderHistory[this.orderDetail.viewingIndex].items;
        }
        return [];
    },
    orderDetailTotal() {
        let totalAmt = 0;
        let totalPrice = '0.00';
        if (this.isViewingOrderDetail) {
            const details = this.orderHistory[this.orderDetail.viewingIndex];
            totalAmt = details.totalAmount;
            totalPrice = details.totalPrice;
        }
        return { totalAmt, totalPrice };
    },
    orderDetailShippingAddr() {
        if (this.isViewingOrderDetail) {
            return this.orderHistory[this.orderDetail.viewingIndex].shippingAddress;
        }
        return '';
    },
},
methods: {
    openRestockForm(idx) {
        this.restockItemName = this.inventory[idx].title;
        this.$refs.restockForm.openRestockForm(this.inventory[idx].id);
    },
    editProduct(id) {
        this.$refs.editForm.openUpdateModal(id);
    },
    deleteProduct(id) {
        this.$refs.deleteForm.openDeleteModal(id);
    },
    viewOrderDetail(idx) {
        this.orderDetail.viewingIndex = idx;
        this.orderDetail.show = true;
    },
    closeOrderDetail() {
        this.orderDetail.show = false;
    },
},
{% endblock %}
