<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css" />
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'main/app.css' %}" />
    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CArray.from%2CArray.isArray%2CObject.assign%2CObject.is%2CPromise%2CMutationObserver%2CIntersectionObserver"></script>
    <!-- Load Vue followed by BootstrapVue -->
    <!--<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>{% block title %}Marketplace{% endblock %}</title>
    {% block header %}
    {% endblock %}
</head>
<body>
    <div id="app">
        <b-navbar type="dark" variant="dark">
            {% block navbar %}
            <b-navbar-brand href="/">Marketplace</b-navbar-brand>
            <b-navbar-nav>
                <!-- add more navs here -->
            </b-navbar-nav>

            <b-navbar-nav class="ml-auto">
                {% if user.is_authenticated %}
                    <b-button variant="info" href="/review-order/" class="mr-3">
                        <span class="mdi mdi-cart mr-2"></span>Cart ({{cart_item_count}})
                    </b-button>
                    <b-nav-item-dropdown text="{{ user.username }}" right>
                        <b-dropdown-item href="/user/profile">Account</b-dropdown-item>
                        <b-dropdown-item href="#">Settings</b-dropdown-item>
                        <b-dropdown-item href="/user/logout">Logout</b-dropdown-item>
                    </b-nav-item-dropdown>
                {% else %}
                    <b-nav-item href="/user/login">Login</b-nav-item>
                {% endif %}
            </b-navbar-nav>
            {% endblock %}
        </b-navbar>
        <b-container class="mt-3 mb-5">
            {% block content %}{% endblock %}
        </b-container>
    </div>
</body>

{% block js %}
{% endblock %}

<script type="text/javascript">
    Vue.config.devtools = true;

    var pageMixin = {
        {% block vue %}
        data: {
        },
        {% endblock %}
    };

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        mixins: [pageMixin],
        data() {
            return {
            };
        },
    });
</script>
</html>