{% extends "main/base.html" %}
{% block content %}
    <b-row class="mb-2 mx-0">
        <h3>New</h3>
    </b-row>
    <b-row class="mb-5">
        {% for item in latest_products %}
        <b-col cols="6" md="4" lg="3" class="mb-3">
            <b-card
                title="{{ item.title }}"
                sub-title="$ {{ item.price }}"
                img-src="{{ item.image }}"
                img-alt="{{ item.title }}-img"
                class="product-card latest"
            >
                <b-card-text>
                  {{ item.description }}
                </b-card-text>
                {% if user.is_authenticated %}
                <b-button href="{{ item.link }}" variant="primary">
                    Check it out
                </b-button>
                {% else %}
                    <b-button href="{% url 'login' %}" variant="primary">
                    Check it out
                </b-button>
                {% endif %}

                <template v-slot:footer>
                    <small class="text-muted">Added on {{ item.created_at }}</small>
                </template>
            </b-card>
        </b-col>
        {% endfor %}
    </b-row>
    <b-row class="pt-2 mb-2 mx-0">
        <h2>All listings</h2>
    </b-row>
    <b-row class="mb-5" align-v="start">
        {% for item in trending_products %}
        <b-col cols="6" md="4" lg="3" class="mb-3 h-100">
            <b-card
                title="{{ item.title }}"
                sub-title="$ {{ item.price }}"
                img-src="{{ item.image }}"
                img-alt="{{ item.title }}-img"
                class="product-card"
            >
                <b-card-text>
                  {{ item.description }}
                </b-card-text>

                <b-button href="{{ item.link }}" variant="primary">
                    Check it out
                </b-button>
            </b-card>
        </b-col>
        {% endfor %}
    </b-row>
{% endblock %}
