{% extends "main/base.html" %}
{% load static %}

{% block header %}
    <link type="text/css" rel="stylesheet" href="{% static 'auction/styles.css' %}" />
{% endblock %}

{% block content %}
    <b-row align-h="center" class="mb-5">
        <b-col class="product-image-container" cols="auto">
            <b-img src="{{ product.image.url }}" fluid alt="{{ product.title }}-img"></b-img>
        </b-col>
    </b-row>
    <b-row class="mt-2 mb-4">
        <b-col class="pr-5">
            <h1>{{ product.title }}</h1>
            <span class="font-weight-bold" style="color:#30bf48">${{product.price}}</span>
            <p class="mt-3">{{product.description}}</p>
        </b-col>
        <b-col cols="auto">
            <b-row class="mb-4">
                <b-col>
                    <b-row align-h="center" class="mb-3">
                        <b-avatar variant="info" src="{{ seller.image.url }}" size="8rem"></b-avatar>
                    </b-row>
                    <b-row align-h="center">
                        <p class="text-muted">Seller: {{ seller.username }}</p>
                    </b-row>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    {% if seller == user %}
                        <b-row align-h="center" class="mb-2">
                            <b-button @click="openRestockForm({{ product.id }})" variant="primary">
                                Restock
                            </b-button>
                            <restock-form ref="restockForm" item-name="{{ product.title }}"></restock-form>
                        </b-row>
                    {% else %}
                        <b-row align-h="center" class="mb-2">
                            <b-button href="{% url 'auction:add_prod_to_cart' product.id  %}"
                                {% if stock_count > 1 %} variant="primary" {% endif %}
                                {% if stock_count < 1 %} disabled {% endif %}
                            >
                                <span class="mdi mdi-cart mr-2"></span> Add to Cart
                            </b-button>
                        </b-row>
                    {% endif %}
                    <b-row align-h="center">
                        {% if stock_count > 5 %}
                            <p class="text-success">In stock</p>
                        {% elif stock_count > 0 %}
                            <p class="text-warning">{{ stock_count }} items left!</p>
                        {% else %}
                            <p class="text-danger">Out of stock</p>
                        {% endif %}
                    </b-row>
                </b-col>
            </b-row>
        </b-col>
    </b-row>

    <div id="chatroom-tab" @click="displayChat = true">
        <span class="mdi mdi-forum mr-2"></span>Chat with seller
    </div>
    <div id="chatroom">
        <b-container fluid class="mt-2">
            <b-row align-h="between" class="mb-3">
                <b-col cols="auto">
                    <span class="font-weight-bold text-white">Chat with seller</span>
                </b-col>
                <b-col cols="auto">
                    <span id="close-btn" class="mdi mdi-close" @click="displayChat = false"></span>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <textarea id="chat-log" rows="5"></textarea>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <input id="chat-message-input" type="text" size="10">
                </b-col>
                <b-col>
                    <input id="chat-message-submit" type="button" value="Send">
                </b-col>
            </b-row>
            {{ pid|json_script:"pid" }}
        </b-container>
    </div>
{% endblock %}

{% block js %}
    <script>
        const pid = JSON.parse(document.getElementById('pid').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/auction/'
            + pid
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>

    {% if seller == user %}
        {% include "auction/restock_form.html" %}
    {% endif %}
{% endblock %}

{% block vue %}
    data: {
        displayChat: false,
    },
    watch: {
        displayChat(shouldDisplay) {
            if (shouldDisplay) {
                document.getElementById('chatroom').classList.add('active');
            } else {
                document.getElementById('chatroom').classList.remove('active');
            }
        },
    },
    methods: {
        openRestockForm(id) {
            this.$refs.restockForm.openRestockForm(id);
        },
    },
{% endblock %}
