{% extends "main/base.html" %}
{% load static %}

{% block header %}
    <link type="text/css" rel="stylesheet" href="{% static 'auction/styles.css' %}" />
{% endblock %}

{% block content %}
    <b-row align-h="center" class="mb-5">
        <b-col class="product-image-container" cols="auto">
            <b-img src="{{ product.image.url }}" fluid alt="{{ product.title }}-img"></b-img>
        </b-col>
    </b-row>
    <b-row class="mt-2 mb-4">
        <b-col class="pr-5">
            <h1>{{ product.title }}</h1>
            <span class="font-weight-bold" style="color:#30bf48">${{product.price}}</span>
            <p class="mt-3">{{product.description}}</p>
        </b-col>
        <b-col cols="auto">
            <b-row class="mb-4">
                <b-col>
                    <b-row align-h="center" class="mb-3">
                        <b-avatar variant="info" src="{{ seller.profile.image.url }}" size="8rem"></b-avatar>
                    </b-row>
                    <b-row align-h="center">
                        <p class="text-muted">Seller: {{ seller.username }}</p>
                    </b-row>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    {% if seller == user %}
                        <b-row align-h="center" class="mb-2">
                            <b-button @click="openRestockForm({{ product.id }})" variant="primary">
                                Restock
                            </b-button>
                            <restock-form ref="restockForm" item-name="{{ product.title }}"></restock-form>
                        </b-row>
                    {% else %}
                        <b-row align-h="center" class="mb-2">
                            <b-form method="post" action="{% url 'auction:add_prod_to_cart' product.id %}">
                                {% csrf_token %}
                                {% if stock_count > 0 %}
                                    <b-form-spinbutton
                                            name="amount" class="mb-3"
                                            min="1" max="{{ stock_left }}"
                                            :value="1"
                                            {% if stock_left <= 0 %} disabled {% endif %}
                                    ></b-form-spinbutton>
                                {% endif %}
                                <b-button
                                    {% if stock_count > 1 %} variant="primary" {% endif %}
                                    {% if stock_count < 1 or stock_left <= 0 %} disabled {% endif %}
                                    type="submit"
                                >
                                    <span class="mdi mdi-cart mr-2"></span> Add to Cart
                                </b-button>
                            </b-form>
                        </b-row>
                    {% endif %}
                    <b-row align-h="center">
                        {% if stock_count > 5 %}
                            <span class="text-success">In stock</span>
                        {% elif stock_count > 0 %}
                            <span class="text-warning">{{ stock_count }} items left!</span>
                        {% else %}
                            <span class="text-danger">Out of stock</span>
                        {% endif %}

                        {% if in_cart > 0 %}
                            <span class="text-muted ml-2">({{ in_cart }} in cart)</span>
                        {% endif %}
                    </b-row>
                </b-col>
            </b-row>
        </b-col>
    </b-row>

    <div id="chatroom-tab" @click="displayChat = true">
        <span class="mdi mdi-forum mr-2"></span>Chat with seller
    </div>
    <div id="chatroom">
        <b-container fluid class="h-100">
            <b-row align-h="between" class="my-3">
                <b-col cols="auto">
                    <span class="font-weight-bold text-white">Chat with seller</span>
                </b-col>
                <b-col cols="auto">
                    <span id="close-btn" class="mdi mdi-close" @click="displayChat = false"></span>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12" id="chat-log__container">
                    <div id="chat-log">
                        <span v-for="(msg, i) in chat.log" :key="i"
                              class="mb-2"
                              :class="{'self-msg': msg.username === chat.username}"
                        >
                            <strong v-if="msg.username === chat.username" class="mr-1">You:</strong>
                            <strong v-else class="mr-1">[[ msg.username ]]:</strong>
                            [[ msg.message ]]
                        </span>
                    </div>
                </b-col>
            </b-row>
            <b-row class="my-3">
                <b-col>
                    <b-form autocomplete="off" @submit.prevent="sendMessage">
                        <b-form-row>
                            <b-col>
                                <b-form-input v-model="chat.input" type="text" size="10"></b-form-input>
                            </b-col>
                            <b-col cols="auto">
                                <b-button type="submit" variant="primary">Send</b-button>
                            </b-col>
                        </b-form-row>
                    </b-form>
                </b-col>
            </b-row>
        </b-container>
    </div>
{% endblock %}

{% block js %}
    {% if seller == user %}
        {% include "auction/restock_form.html" %}
    {% endif %}
{% endblock %}

{% block vue %}
    data: {
        displayChat: false,
        chat: {
            username: "{{user.username}}",
            socket: null,
            input: '',
            log: [],
        },
    },
    watch: {
        displayChat(shouldDisplay) {
            if (shouldDisplay) {
                document.getElementById('chatroom').classList.add('active');
            } else {
                document.getElementById('chatroom').classList.remove('active');
            }
        },
    },
    created() {
        const pid = {{ pid }};

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/auction/'
            + pid
            + '/'
        );
        const g = this;
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            g.chat.log.unshift(data.message);
        };
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
        this.chat.socket = chatSocket;
    },
    destroyed() {
        this.chat.socket.close();
        this.chat.socket = null;
    },
    methods: {
        openRestockForm(id) {
            this.$refs.restockForm.openRestockForm(id);
        },
        sendMessage() {
            this.chat.socket.send(JSON.stringify({
                username: this.chat.username,
                message: this.chat.input,
            }));
            this.chat.input = '';
        },
    },
{% endblock %}
